# board naming and other settings
# Reference corne
# "#" is a comment, // is not a valid token for Kconfig files


if SHIELD_MODKB
config ZMK_KEYBOARD_NAME
    default "ModularKeyboard"

config ZMK_DISPLAY
    default n

endif
