#include <dt-bindings/zmk/matrix_transform.h>

/ {
//chosen
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };


//kscan
    // PIN MAPPING RIGHT HALF

    // diode move col2row or row2col?

    kscan0: kscan0 { 
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";

        row-gpios
            = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 21
            , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 22
            , <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 23
            , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 24
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 25
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 26
            ;
        col-gpios 
            = <&pro_micro 6 GPIO_ACTIVE_HIGH > // column 21
            , <&pro_micro 7 GPIO_ACTIVE_HIGH > // column 22
            , <&pro_micro 8 GPIO_ACTIVE_HIGH > // column 23
            , <&pro_micro 9 GPIO_ACTIVE_HIGH > // column 24
            , <&pro_micro 10 GPIO_ACTIVE_HIGH > // column 25
            , <&pro_micro 16 GPIO_ACTIVE_HIGH > // column 26
            , <&pro_micro 14 GPIO_ACTIVE_HIGH > // column 27
            , <&pro_micro 15 GPIO_ACTIVE_HIGH > // column 28
            , <&pro_micro 18 GPIO_ACTIVE_HIGH > // column 29
            , <&pro_micro 19 GPIO_ACTIVE_HIGH > // column 210
            , <&pro_micro 20 GPIO_ACTIVE_HIGH > // column 211
            , <&pro_micro 21 GPIO_ACTIVE_HIGH > // column 212
            ;
    };


//transform

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        col-offset = <8>;
        columns = <20>;
        rows = <6>;
        map = <
                    RC(0,9) RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14) RC(0,15) RC(0,16) RC(0,17) RC(0,18) RC(0,19) //row 1
                    RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13) RC(1,14)          RC(1,16) RC(1,17) RC(1,18) RC(1,19) //row 2
            RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(2,13) RC(2,14)          RC(2,16) RC(2,17) RC(2,18) RC(2,19) //row 3
                    RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(3,13) RC(3,14)          RC(3,16)                            //row 4
                            RC(4,10) RC(4,11) RC(4,12) RC(4,13) RC(4,14)          RC(4,16)          RC(4,18)          //row 5
                                     RC(5,11)          RC(5,13) RC(5,14) RC(5,15) RC(5,16) RC(5,17) RC(5,18) RC(5,19) //row 6
        >;
    };

//physical layout

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default layout";
        transform = <&default_transform>;
    };

};