
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
    keymap{
        compatible = "zmk,keymap";
    
        // sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        
        default_layer {
			display-name = "Base";
        // -----------------------------------------------------------------------------------------------------------------------------------------------
        // | M1 | | ESC |     |  F1  | F2  | F3  | F4  | | F5  | F6  | F7  | F8  | | F9  | F10 | F11 | F12 | | PSCRN|SCLLCK|PSEBREAK | |  BK | PSE | FW  | EC11|
        // |    | |     |     |----------------------------------------------------------------------------| |                       | |-----------------------|
        // | M2 | |GRAVE|  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BSPC   | |  INS  | HOME |  PGUP  | | NUM |  /  |  *  |  -  |
        // | M3 | | TAB   |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   \    | |  DLT  |  END |  PGDN  | |  7  |  8  |  9  |  +  |
        // | M4 | | CAPS   |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |    ENTER    | |                       | |  4  |  5  |  6  |     |
        // | M5 | |  SHIFT   |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |   SHIFT         | |       |  UP  |        | |  1  |  2  |  3  |     |
        // | M6 | |  CTL  |  WIN  |  ALT  |    SPACE    | |      SPACE     | ALT  |  WIN  |MENU| CTRL|     | |   LEFT| DOWN | RIGHT  | |  0        | DEL | ENT |
            bindings = <
                &kp A &kp ESC     &kp F1 &kp F2 &kp F3 &kp F4 
                &kp B &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6
                &kp C &kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T 
                &kp D &kp CLCK   &kp A  &kp S  &kp D  &kp F  &kp G 
                &kp E &kp LSHFT     &kp Z  &kp X  &kp C  &kp V  &kp B  
                &kp F &kp LCTRL &kp LGUI &kp LALT     &kp SPACE
            >;
        };  
	};
};
