/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/matrix_transform.h>

#include <dt-bindings/gpio/gpio.h>
// PIN MAP OVERRIDE
// Which pins are active, sectioned by row-column, diode move col2row
&kscan0 { 
    diode-direction = "col2row";
    row-gpios
        = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 1
        , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 2
        , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 3
        , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 4
        , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 5
        ;
    col-gpios 
        = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // column 1
        , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // column 2
        , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // column 3
        , <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // num led
        ;
};



#UNDEF RC
#DEFINE RC(R,C) (((r) << 8)+(c))

// Physical layout
&default_transform {
    compatible = "zmk,matrix-transform";
    columns = <3>;
    rows = <5>;
    map = <
        RC(0,0) RC(0,1) RC(0,2)
        RC(1,0) RC(1,1) RC(1,2)
        RC(2,0) RC(2,1) RC(2,2) 
        RC(3,0) RC(3,1) RC(3,2)
        RC(4,0)         RC(4,2)
    >;
};




/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
			display-name = "Base";
// -----------------------------------------------------------------------------------------
// |  A  |  B  |  C  |
// |  1  |  2  |  3  |
// |  4  |  5  |  6  |
// |  7  |  8  |  9  |
// |  0  |     | ENT |
                        bindings = <
   &kp A   &kp B   &kp C
   &kp 1   &kp 2   &kp 3 
   &kp 4   &kp 5   &kp 6 
   &kp 7   &kp 8   &kp 9  
   &kp 0           &kp RET
                        >;
                };  
	};
};
