
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/hid_indicators.h>
#include <nice_nano.dtsi>

/ {
    chosen{
        zmk,kscan = &default_kscan;
        zmk,matrix_transform = &default_transform;
    };


    // PIN MAPPING
    // Which pins are active, sectioned by row-column, diode move col2row

    //for keypad only right now
    default_kscan: kscan { 
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        row-gpios
            = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 31
            , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 32
            , <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 33
            , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 34
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // row 35

            //, <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // ROT A
            //, <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // ROT B
            //, <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) > // ROT C

            ;
        col-gpios 
            = <&pro_micro 19 GPIO_ACTIVE_HIGH > // column 31
            , <&pro_micro 18 GPIO_ACTIVE_HIGH > // column 32
            , <&pro_micro 14 GPIO_ACTIVE_HIGH > // column 33
            , <&pro_micro 15 GPIO_ACTIVE_HIGH > // column 34
            ;
    };


    // #include "matrix_transform.h" defines row coulmn like this

    // Physical layout
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <5>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) 
            RC(1,0) RC(1,1) RC(1,2) 
            RC(2,0) RC(2,1) RC(2,2) 
            RC(3,0) RC(3,1) RC(3,2) 
            RC(4,0)         RC(4,2) 
        >;
    };

};

/ {
    // development verison, cant use the library in 0.3V
    leds {
        compatible = "gpio-leds";

        num_lock_led: num_lock{
            gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
        };
    };

    indicators {
            compatible = "zmk,indicator-leds";

            num_lock_indicator: num_lock {
                indicator = <HID_INDICATOR_NUM_LOCK>;
                leds = <&num_lock_led>;
            };
    };

};


